@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@300&display=swap');

body {
    background-position: 0in;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    background-color: #ede4df8f;
    overflow: scroll;
    word-wrap: break-word;
    height: 2700px;
    min-height: 100vh;
    position: relative;
    padding-bottom: 58px;
}

nav {
    padding: 1 rem;
    background-color: hsl(0, 23%, 95%);
    text-align: right;
    box-sizing: border-box;
}

nav > a {
    text-decoration: none;
    color: #3a3a3a;
    border-left: 1px solid;
    padding: 5px 10p;
}

nav > a:hover {
    color: silver;
}

h1 {
    font-family: 'Lucida Sans', sans-serif;
    color: rgba(0, 0, 0, 0.284);
    text-align: center;
    text-transform: none;
    letter-spacing: 12px;
}

h2 {
    font-family: Caveat, sans-serif;
    text-align: center;
    letter-spacing: 4px;

}

#start {
    
    height: 500px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.first-pic {
    float: right;

}

/* first paragraph index */

#welcome {
    text-align: center;
    display: block;
    margin: 150px;
}

/* photos index */

#box {
    margin: 135px;
    display: block;
}

/* social networks */

fotter {
    float: bottom;
    position:absolute;
    height: 160px;
    width: 100%;
    border-top: 1px solid #cdcdcd;
    display: block;
    margin: none;
    bottom: 0;
    left: 0;
}

#social-networks {
    text-align: center;
    height: 150px;
    background-color: #3a3a3a;
}
#social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: beige;
}
#social-networks > div {
    display: inline;
    color: #a69c95;
    text-align: center;
}
/* types of guitars */

.acoustic-guitar {
    text-align: center;
    display: block;
    margin: 150px;
}
.electric-guitar {
    text-align: center;
    display: block;
    margin: 150px;

}
.classical-guitar {
    text-align: center;
    display: block;
    margin: 150px;
}
.jazz-guitar {
    text-align: center;
    display: block;
    margin: 150px;
}

/* gallery */

#gallery {
    margin-left: 135px;
    margin-right: 135px;
}
.technically {
    float: right;
    max-width: 600px;
    margin-top: 300px;
    margin-right: 150px;
    text-align: right;
}
.picture_2 {
    float: right;
    max-width: 600px;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 150px;
}

/* timeline */
#timeline {
    margin: 50px auto;
    margin-left: 150px;
}

.circle-conainer {
    width: 150px;
    height: 150px;
    padding: 0px;
    border-style: solid;
    border-color: rgb(252, 248, 248);
    border-width: 1px;
    border-radius: 100%;
    margin: 0 auto;
}

.circle-container h2 {
    text-align: center;
    margin-bottom: -30px;
    margin-right: 0px;
}

.circle-cover {
    background-color: aquamarine;
    height: 110%;
    border-radius: 50%;
}
.circle-cover2 {
    background-color: #117d3e8f;
    height: 110%;
    border-radius: 50%;
}
.classical {
    float: right;
    max-width: 600px;
    margin-bottom: 100px;
    margin-top: -150px;
    margin-left: 0px;
    color: #8e8282;
}
.flat-top {
    float: left;
    max-width: 600px;
    margin-bottom: 100px;
    margin-top: -150px;
    margin-left: 10px;
    color: #8e8282;
}
.resonator {
    float: left;
    max-width: 600px;
    margin-bottom: 100px;
    margin-top: -150px;
    margin-left: 10px;
    color: #8e8282;
}
.twelve-string {
    float: left;
    max-width: 600px;
    margin-bottom: 100px;
    margin-top: -150px;
    margin-left: 10px;
    color: #8e8282;
}
.acoustic {
    float: left;
    max-width: 600px;
    margin-bottom: 100px;
    margin-top: -150px;
    margin-left: 10px;
    color: #8e8282;
}
.electric {
    float: left;
    max-width: 600px;
    margin-bottom: 100px;
    margin-top: -150px;
    margin-left: 10px;
    color: #8e8282;
}

/* contact */

#comment {
    text-align: center;
    margin-left: 135px;
    margin-right: 135px;
}

.login-box {
    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 600px;
    background-image: url(https://images.pexels.com/photos/376452/pexels-photo-376452.jpeg?auto=compress&cs=tinysrgb&w=600);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

}
.left-box {
    position: absolute;
    margin-top: none;
    margin-left: none;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}
h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;

}
input[type="text"],
input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
}

input[type="submit"] {
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background-color: #f44336;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;

}
input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: #f44336;
    transition: 0.2s ease;
}

}